.Header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0 1rem;
  z-index: 9999;
}
.Header-checkout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 30px;
  margin: 0 0 0 0.5em;
}
.Header-alert {
  color: #33b13a;
  font-size: 14px;
  margin-left: 5px;
}
.Header a {
  text-decoration: none;
  color: #33b1ff;
}

.move-basquet {
   transform-origin: top;
   animation: move-basket 1s ease;
}

@keyframes move-basket {
   from {
      transform: rotateZ(0deg) scale(1);
   }
   33% {
      transform: rotateZ(-45deg) scale(1.5);
   }
   66% {
      transform: rotateZ(45deg) scale(1.5);
   }
   to {
      transform: rotateZ(0deg) scale(1);
   }
}